body {
  margin: 0;
}

.show-grid {
  /* baseline 10px */
  background: linear-gradient(transparent 9px, #9d90b2 9px);
  background-size: 1px 10px;
}

.grid-container {
  width: 960px;
  height: 300vh;
  margin-left: auto;
  margin-right: auto;
}

.show-grid .grid-container {
  /* columns 12: 80px * 12 */
  background: linear-gradient(90deg, rgba(202, 154, 29, 0.3) 50%, rgba(33, 182, 213, 0.45) 50%);
  background-size: 160px 1px;
}