/*! 웹을 위한 타이포그래피 디자인(설계) © yamoo9.net, 2016 */

/* 본문 디자인 */
/* <body>, <p> */
/*선택자 {
  속성: 값;
  속성: 값;
}*/

body {
  /* 글자 모양(꼴) */
  font-family: "Spoqa Han Sans", Dotum, Gulim, Sans-Serif;
  /* 글자 크기 */
  font-size: 14px; /* 고정 */
  font-size: 87.5%; /* 상대 */
  /* 행간 설정 */
  line-height: 1.5; /* 글자 크기 x1.5배 = 14px x 1.5 = 21px */
  /* 글자 색상 */
  color: #050606;
}

/* 제목 디자인 */
/* <h1>, <h2>, .., <h6> */

/* 목록 디자인 */

/* 표 디자인 */

/* 폼 디자인 */