/*! grid-system-960-gutters.css © yamoo9.net, 2016 */

/**
 *  960 그리드 시스템 설계(Design) 분석
 *  ---------------------------------
 *  페이지 너비 960px
 *  컬럼 개수 12
 *  거터 방향 `양쪽`
 *  거터 너비 10px * 2 = 20px
 *  컬럼 너비 60px
 */

/* container module */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* show-grid module */
.show-grid {
  background: linear-gradient(transparent 9px, #de929a 9px);
  background-size: 1px 10px;
}
.show-grid .container {
  position: relative;
}
.show-grid .container:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 2000px;
  background: linear-gradient(
                  90deg,
                  rgba(190,30,0,0.1) 10px, rgba(190,30,0,0.25) 10px,
                  rgba(190,30,0,0.25) 70px, rgba(190,30,0,0.1) 70px
              );
  background-size: 80px 1px;
}

.show-grid.overlay .container:before {

}

/* row module */
.row:after {
  content: '';
  display: block;
  clear: both;
}
/* columns module */
[class*="col-"] {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.col-1  { width: 60px;  }
.col-2  { width: 140px; }
.col-3  { width: 220px; }
.col-4  { width: 300px; }
.col-5  { width: 380px; }
.col-6  { width: 460px; }
.col-7  { width: 540px; }
.col-8  { width: 620px; }
.col-9  { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12 { width: 940px; }

/* push, pull module */

/* prefix, suffix module */